<div class="MainDiv">
    <div class="top-icons row" [formGroup]="filterForm">
        <div class="form-group col-lg-3">
            <label><b>Name</b></label>
            <input type="text" style="width:200px" class="form-control" placeholder="Filter by Name"
                formControlName="filterName">
        </div>
        <div class="form-group col-lg-3">
            <label><b>From Date</b></label>
            <input type="date" style="width:200px" class="form-control" placeholder="Filter by date"
                formControlName="date">
        </div>
        <div class="form-group col-lg-3">
            <img src="../../../assets/img/reset.png" (click)="clearFilters()" title="Clear Filters" alt="Clear-Filter"
            height="30px" width="30px">
            <img src="../../../assets/img/icons8-filter-64.png" (click)="filterClick()" title="Filter" alt="Filter"
                height="40px" width="40px" style="margin-left:45px">
        </div>
    </div>
    <div class="content">
        <nz-table [nzData]="userData" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Comments</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of userData | paginate :{ itemsPerPage:5,currentPage:p};let i=index">
                    <td>{{i+1}}</td>
                    <td (click)="getSingleUser(data)">{{data.name}}</td>
                    <td (click)="getSingleUser(data)">{{data.fromDate}}</td>
                    <td (click)="getSingleUser(data)">{{data.toDate}}</td>
                    <td (click)="getSingleUser(data)">{{data.reason}}</td>
                    <td>
                        {{data.status}}
                        <!-- <button type="button" class="btn btn-success">Approve</button>
                        &nbsp;
                        <button type="button" class="btn btn-danger">Decline</button> -->
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>



<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="" [formGroup]="userForm">
                    <label>Reason</label>
                    <input [attr.disabled]="true" type="text" class="form-control" placeholder="reason"
                        formControlName="reason">
                    <label>From Date</label>
                    <input [attr.disabled]="true" type="date" class="form-control" formControlName="fromDate">
                    <label>To Date</label>
                    <input [attr.disabled]="true" type="date" class="form-control" formControlName="toDate">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                    <button type="button" class="btn btn-success" (click)="approval(userForm)">Approve</button>
                    &nbsp;
                    <button type="button" class="btn btn-danger" (click)="decline(userForm)">Decline</button>

                </div>
            </div>
        </div>
    </div>
</div>