<div class="topnav">
    <p style="cursor: pointer;" (click)="leaves()">Leaves</p>
    <p style="cursor: pointer;"(click)="users()">User</p>
    <div class="navend">
        <p>{{token}}</p>
        <div [@sildeOut]="expression1">
            <img src="../../../../assets/img/exit.png"title="Logout" alt="exit"(click)="logout()">
        </div>
    </div>
</div> 
<!-- <div class="dropdown" *ngIf="expression">
    <div class="logout"(click)="logout()">Logout</div>
</div> -->
 
