div.topnav {
    overflow: hidden;
    // background-color: #333;
    // background-image: linear-gradient(#cc2b5e,#753a88);     
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);    

  }
div.topnav p{ 
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}
div.navend p{  
    float: left;
    display: block;
    color: #f2f2f2; 
    margin-left: 934px;  
    // text-align: center;
    // padding: 14px 16px; 
    // text-decoration: none; 
}
img{
    height: 50px;
    width: 50px;    
    margin-bottom: -35px; 
    // border-radius: 50%; 
    // border: 1px solid black; 
    cursor: pointer; 
} 
// div.dropdown{
//     height: 100px;
//     width: 100px;  
//     position: absolute;
//     display: inline-block; 
//     margin-left: 1140px;
//     margin-top: -13px;
//     box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
     
// }