<div class="MainDiv">
    <div class="top-icons row" [formGroup]="filterForm">
        <div class="form-group col-lg-3">
            <button class="btn btn-primary" (click)="newUser()">Add New User</button>
        </div>
        <div class="form-group col-lg-3">
            <label for=""><b>From Date</b></label>
            <input type="text" style="width:200px" class="form-control" placeholder="Filter by Name"
            formControlName="filterName">
        </div> 
        <div class="form-group col-lg-3">
            <img src="../../../assets/img/reset.png" (click)="clearFilters()" title="Clear Filters"alt="Clear-Filter" height="30px"
            width="30px">
            <img src="../../../assets/img/icons8-filter-64.png" (click)="filterClick()"title="Filter" alt="Filter" height="40px"
            width="40px"style="margin-left:45px">
        </div>
    </div>
<div class="content">
    <nz-table [nzData]="usersData" [nzShowPagination]="false">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Username</th>
                <th>Password</th>
                <!-- <th>user_id</th> -->
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of usersData | paginate :{ itemsPerPage:5,currentPage:p};let i=index">
                <td>{{i+1}}</td> 
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <!-- <td>{{user.user_id}}</td> -->
                <td>{{user.email}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" (click)="getSingleUser(user)">Update</a>
                            <a class="dropdown-item" (click)="deleteUser(user)">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="" [formGroup]="userForm">
                    <label for="">Username</label>
                    <input type="text" class="form-control" placeholder="username" formControlName="username">
                    <span style="color:red"
                        *ngIf="(userForm.get('username').invalid) && (userForm.get('username').touched)">This field is
                        required</span>
                    <br>
                    <label for="">Password</label>
                    <input type="text" class="form-control" placeholder="password" formControlName="password">
                    <span style="color:red"
                        *ngIf="(userForm.get('password').invalid) && (userForm.get('password').touched)">This field is
                        required</span>
                    <br>
                    <!-- <label for="">user_id</label>
                    <input type="number" class="form-control" placeholder="userId" formControlName="user_id">
                    <span style="color:red"
                        *ngIf="(userForm.get('user_id').invalid) && (userForm.get('user_id').touched)">This field is
                        required</span>
                    <br> -->
                    <label for="">Email</label>
                    <input type="email" class="form-control" placeholder="email" formControlName="email">
                    <span style="color:red"
                        *ngIf="(userForm.get('email').invalid) && (userForm.get('email').touched)">This field is
                        required</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                    <button type="button" class="btn btn-success" (click)="saveUser()">Save User</button>
                </div>
            </div>
        </div>
    </div>
</div>