div.MainDiv {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img:hover{
    cursor: pointer;
  }
  div.content {
    padding: 41px;
    height: 500px;  
    width: 1100px;
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1); 
  }
  div.filter{
    display: flex;
    flex-direction: row;  
  }
div.img{
  width: 70px;
  text-align: center;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
}
  div.top-icons {  
    min-height: 60px;
    width: 1100px;
    margin-bottom: 14px;
    margin-top: 20px;
    padding: 10px;  
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;  
  }
  @media only screen and (max-width: 600px) {
    div.content {
      width: 360px;
    }
  }
  