<div class="main-area">
  <div class="login-area">
    <div class="form-group" style="margin-top:50px" [formGroup]="loginForm">
      <img src="../../../../assets/img/foot-logo.png" alt="foot">
      <br>
      <label><b>Username</b></label>
      <input type="text" formControlName="username" class="form-control" placeholder="username">
      <span *ngIf="(loginForm.get('username').invalid) && (loginForm.get('username').touched)">This field is
          required</span>
      <br>
      <label><b>Password</b></label>
      <input type="password" formControlName="password" class="form-control"placeholder="Password">
      <span *ngIf="(loginForm.get('password').invalid) && (loginForm.get('password').touched)">This field is
          required</span>
      <br> 
      <div class="text-center">
        <button nz-button nzType="primary" class="btn btn-primary" (click)="loginClick('success')" style="width:142px">
          <div [@sildeIn]="expression">
            <img src="../../../../assets/img/rocket.png" class="rocketImg" alt="rocket" style="margin-left: -62px;">
          </div>
          <div>
            LOGIN
          </div>
        </button>
        <!-- <button nz-button nzType="primary" (click)="loginClick()">LOGIN</button> -->
      </div>
      <br>
      <div class="link">
        <label (click)="forget()" style="cursor:pointer">Forget Password?</label>
      </div>
      <!-- <div class="link">
          <label (click)="newAccount()">Create a new account</label>
        </div> -->
    </div>
    <div [@slideDown]="forgotanimate" class="forgotDiv" *ngIf="forget1">
      <div><b>Forgot Password?</b></div>
      <br>
      <br>
      <div class="form-group" [formGroup]="forgotForm">
        <label>Enter your email to reset your Password</label>
        <input type="email" class="form-control" formControlName="email">
        <span *ngIf="(forgotForm.get('email').invalid) && (forgotForm.get('email').touched)">This field is
          required</span>
      </div>
      <div class="footer">
        <div>
          <button class="btn btn-primary"(click)="backClicked()">Back</button>
        </div>
        <div>
          <button class="btn btn-primary"(click)="sendEmail()">Send Email</button>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal" id="modalDemo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>