div.main-area{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    // background-color: rgb(151, 231, 205);  
    // background-image: repeating-linear-gradient(90deg,#07A3B2,#D9ECC7);  
    // background-image: repeating-linear-gradient(190deg,#07A3B2,#D9ECC7);       
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}   
div.form-group{  
    // height: 500px;  
    padding: 10px; 
}
img.rocketImg{
    width: 20px;
    height: 20px; 
    position: absolute; 
}
div.login-area{
    height: 500px;  
    width: 400px;    
    // background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg);
    // background-repeat: no-repeat;  
    // border:1px solid black; 
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;   
    // background-color: burlywood;  
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;  
}
div.notificationBox{
    border:1px solid black;
    background-color: green;
    height: 100px;
    width: 200px;  
    border-radius: 10px;  
    position: absolute;
    z-index:2; 
    margin-top: -600px; 
    margin-left: 1040px;
} 
div.link{
    text-align: center;
    color: cadetblue; 
}
div.link:hover{
    color: white; 
    // color: aqua;
}
span{
    color:red;
}
button {
    margin-right: 1em;
  }

img{
    margin-left: 37px;
    margin-bottom: 50px;
}  
div.text-center{
    text-align: center; 
}
div.forgotDiv{
    height: 500px;  
    width: 400px; 
    margin-top: -700px;    
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);  
    background-image: linear-gradient(to right,#24c6dc,#514a9d);  
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.footer{
    display: flex;
    justify-content: space-between;  
} 

  @media only screen and (max-width: 600px) {
    div.login-area {
        height: 100vh; 
    }
    div.forgotDiv{
        height: 100vh; 
    }
  }

