div.MainDiv {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img:hover{
    cursor: pointer;
  }
   
  div.content {
    padding: 60px;    
    height: 500px;
    width: 1100px;
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
  }
  div.top-icons {
    height: 60px;
    width: 1100px;
    margin-bottom: 14px;
    padding: 10px;  
    box-shadow: 1px 1px 14px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;  
  }
  @media only screen and (max-width: 600px) {
    div.content {
      width: 360px;
    }
  }
  