<div class="MainDiv">
    <div class="top-icons" >
        <button class="btn btn-primary" (click)="openModal()">Apply New Leave</button>
    </div>
    <div class="content">
        <nz-table [nzData]="userData" [nzShowPagination]="false">
            <thead> 
                <tr> 
                    <th>S.No</th>
                    <th>Comments</th>
                    <th>From Date</th> 
                    <th>To Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of userData| paginate :{ itemsPerPage:5,currentPage:p};let i=index">
                    <td>{{i+1}}</td>
                    <td>{{data.reason}}</td>
                    <td>{{data.fromDate}}</td>
                    <td>{{data.toDate}}</td>
                    <td>{{data.status}}</td>
                    <td>
                        <div class="dropdown"> 
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="getSingleUser(data)">Update</a>
                                <a class="dropdown-item" (click)="deleteSingleUser(data)">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="close" (click)="closeModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="" [formGroup]="userForm">
                    <label for="">Reason</label>
                    <input type="text" class="form-control" placeholder="reason" formControlName="reason">
                    <span  style="color:red"*ngIf="(userForm.get('reason').invalid) && (userForm.get('reason').touched)">This field is
                        required</span>
                    <br>
                    <label for="">From Date</label>
                    <input type="date" class="form-control" formControlName="fromDate">
                    <span  style="color:red"*ngIf="(userForm.get('fromDate').invalid) && (userForm.get('fromDate').touched)">This field is
                        required</span>
                    <br>
                    <label for="">To Date</label>
                    <input type="date" class="form-control" formControlName="toDate">
                    <span  style="color:red"*ngIf="(userForm.get('toDate').invalid) && (userForm.get('toDate').touched)">This field is
                        required</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary"(click)="saveModal(userForm?.value)">SaveChanges</button>
                </div>
            </div>
        </div>
    </div> 
</div> 
