<div class="topnav">
    <!-- <p style="cursor: pointer;">Home</p> -->
    <p style="cursor: pointer;">Display</p>   
</div>
<div class="navend">
    <p style="margin-right: 10px;margin-top: 11px;">{{token}}</p>
    &nbsp;   
    <div [@sildeOut]="expression1">
        <img src="../../../../assets/img/exit.png" title="Logout"alt="exit"(click)="logout()"style="margin-top: -2px;">
    </div>
</div>
<!-- <div class="dropdown" *ngIf="expression">
    <div class="logout"(click)="logout()">Logout</div>
</div>
     --> 
